<%= form_with model: @inventory do |form| %>
  <div class="form-wrapper">
    <%= form.label :imei %>
    <%= form.text_field :imei, placeholder: "Input IMEI" %>
    <%= form.label :serial %>
    <%= form.text_field :serial, placeholder: "Input serial" %>
    <%= form.label :location %>
    <%= form.text_field :location, placeholder: "Input location" %>
    <%= form.submit %>
  </div>
<% end %>
