<% cache @inventories do %>
  <table class="index-table">
    <tr>
      <th>ID</th>
      <th>Brand</th>
      <th>Model</th>
      <th>Model code</th>
      <th>Part</th>
      <th>IMEI</th>
      <th>Serial</th>
      <th>Location</th>
      <th>Status</th>
      <th>Order number</th>
      <th>Created at</th>
      <th>Last update</th>
      <th>Actions</th>
    </tr>
    <% @inventories.each do |inventory| %>
      <tr>
        <td>
          <%= inventory.id  %>
        </td>
        <td>
          <%= inventory.brand %>
        </td>
        <td>
          <%= inventory.model %>
        </td>
        <td>
          <%= inventory.model_code %>
        </td>
        <td>
          <%= inventory.part_name %>
        </td>
        <td>
          <%= inventory.imei %>
        </td>
        <td>
          <%= inventory.serial %>
        </td>
        <td>
          <%= inventory.location %>
        </td>
        <td>
          <%= inventory.status %>
        </td>
        <td>
          <%= inventory.repair&.order_number %>
        </td>
        <td>
          <%= inventory.created_at.to_formatted_s(:rfc822)  %>
        </td>
        <td>
          <%= inventory.updated_at.to_formatted_s(:rfc822)  %>
        </td>
        <td>
          <div class="table-actions">
            <%= link_to "Edit", edit_inventory_path(inventory), class: "btn edit-color"  %>
            <%= button_to "Delete", inventory, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn delete-color" %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
