<h1>Create new inventory</h1>
<%= form_with model: @inventory do |form| %>
  <div class="form-wrapper">
    <%= form.label :item_id, "Description" %>
    <%= form.collection_select :item_id, Item.active, :id, :description, include_blank: true %>
    <%= form.label :location %>
    <%= form.select :location, ["Shelf A3", "Shelf A10"], include_blank: true %>
    <%= form.label :imei %>
    <%= form.text_field :imei %>
    <%= form.label :serial %>
    <%= form.text_field :serial %>
    <%= form.submit %>
  </div>
<% end %>
