<table class="index-table">
  <tr>
    <th>ID</th>
    <th>Status</th>
    <th>Active</th>
    <th>Created</th>
    <th>Actions</th>
  </tr>
  <% @statuses.each do |status| %>
    <tr>
      <td><%= status.id %></td>
      <td><%= status.name %></td>
      <td><%= status.active %></td>
      <td><%= status.created_at.to_formatted_s(:rfc822) %></td>
      <td>
        <div class="table-actions">
          <%= toggle_status_button(status, toggle_active_status_path(status)) %>
        </div>
      </td>
    </tr>
  <% end %>
</table>