<table class="index-table">
  <tr>
    <th>ID</th>
    <th>Level</th>
    <th>Name</th>
    <th>Email</th>
    <th>Created</th>
    <th>Last update</th>
    <th>Actions</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.role %></td>
      <td><%= user.name %></td>
      <td><%= user.email_address %></td>
      <td><%= user.created_at %></td>
      <td><%= user.updated_at %></td>
      <td>
        <div class="table-actions">
          <%= link_to "Edit", user_path(user.id), class: "btn edit-color" %>
          <%= button_to "Delete", user, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn delete-color" %>
        </div>
      </td>
    </tr>
  <% end %>
</table>