<% cache @devices do %>
  <table class="index-table">
    <tr>
      <th>Brand</th>
      <th>Device type</th>
      <th>TAT neutral</th>
      <th>TAT unsatisfied</th>
      <th>TAT very unsatisfied</th>
      <th>Created</th>
      <th>Last update</th>
      <% if current_user.admin? %>
        <th>Actions</th>
      <% end %>
    </tr>
    <% @devices.each do |device| %>
      <tr>
        <td>
          <%= device.brand  %>
        </td>
        <td>
          <%= device.device_type.upcase %>
        </td>
        <td>
          <%= device.tat_neutral %>
        </td>
        <td>
          <%= device.tat_unsatisfied %>
        </td>
        <td>
          <%= device.tat_very_unsatisfied %>
        </td>
        <td>
          <%= device.created_at %>
        </td>
        <td>
          <%= device.updated_at %>
        </td>
        <% if current_user.admin? %>
          <td>
            <%= link_to "Edit", device_path(device.id)  %>
            <%= button_to "Delete", device, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>