<% cache @repairs do %>
  <table class="index-table">
    <tr>
      <th>Order number</th>
      <th>Brand</th>
      <th>Device type</th>
      <th>TAT</th>
      <th>Status</th>
      <th>Created</th>
      <th>Last update</th>
      <th>Days to next TAT</th>
    </tr>
    <% @repairs.each do |repair| %>
      <% device = find_tat(repair) %>
      <tr>
        <td>
          <%= link_to repair.order_number, repair %>
        </td>
        <td>
          <%= repair.brand %>
        </td>
        <td>
          <%= repair.device_type.upcase %>
        </td>
        <td class="<%= set_tat_css(device, repair.created_at, "tat") %>">
          <%= determine_tat_status(device, repair.created_at) %>
        </td>
        <td>
          <%= repair.current_status&.name || 'Unknown' %>
        </td>
        <td>
          <%= repair.created_at.to_formatted_s(:short) %>
        </td>
        <td>
          <%= repair.updated_at.to_formatted_s(:short) %>
        </td>
        <td>
          <%= days_to_next_tat_stage(device, repair.created_at) %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
