<div data-controller="toggle" data-toggle-hidden-class="hidden">
  <button type="button"
              class="btn new-color"
              data-action="click->toggle#toggle">
    Filter
  </button>
  <div class="modal hidden"
       data-toggle-target="toggleable">
    <%= form_with url: repairs_path, method: :get, data: { action: "submit->toggle#toggle" } do |form| %>
      <div class="field">
        <span class="close-btn" data-action="click->toggle#toggle"><i class="fa fa-close"></i></span>
        <div class="field-item">
          <h2>Brands</h2>
          <% @brands.each do |brand| %>
            <%= form.checkbox :brands, { multiple: true, checked: checkbox_checked?(:brands, brand) }, brand, nil %>
            <%= form.label "brands_#{brand.parameterize}", brand %>
          <% end %>
        </div>
        <div class="field-item">
          <h2>Device types</h2>
          <% @device_types.each do |type| %>
            <%= form.checkbox :device_types, { multiple: true, checked: checkbox_checked?(:device_types, type) }, type, nil %>
            <%= form.label "device_types_#{type.parameterize}", type %>
          <% end %>
        </div>
        <div class="field-item">
          <h2>TAT</h2>
          <% RepairsHelper::TAT_STATUSES.each do |status| %>
            <%= form.checkbox :tat_statuses, { multiple: true, checked: checkbox_checked?(:tat_statuses, status[:name]), id: status[:id] }, status[:name], nil %>
            <%= form.label status[:id], status[:name] %>
          <% end %>
        </div>
        <div class="actions">
          <%= form.submit "Apply", class: "btn new-color" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
