<div id="repair_parts_<%= repair.id %>" class="index-table">
  <table class="index-table">
    <tr>
      <th>Description</th>
      <th>Unit price</th>
      <th>IMEI</th>
      <th>Serial</th>
      <th>Location</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
    <% repair_items.each do |item| %>
      <tr>
        <td>
          <%= item.description  %>
        </td>
        <td>
          <%= item.unit_price %>
        </td>
        <td>
          <%= item.imei %>
        </td>
        <td>
          <%= item.serial %>
        </td>
        <td>
          <%= item.inventory&.location %>
        </td>
        <td>
          <%= item.created_at %>
        </td>
        <td>
          <%= button_to remove_repair_item_repair_path(repair, item_id: item.id),
                          method: :delete,
                          form: { data: { turbo_confirm: 'Are you sure?', turbo_stream: true } },
                          params: { action: 'remove_repair_item' },
                          **disable_if_not_editable(@repair) do %>
            <i class="fa fa-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
