<div id="repair_container" data-repair-id="<%= @repair.id %>">
  <div id="repair_<%= repair.id %>" class="flash-banner alert">
    <% if repair.locked? %>
      <p>
        This repair is being worked on by <%= repair.locked_by %> since <%= repair.locked_at %>.
        <% if repair.locked_by?(current_user.email_address) || current_user.admin? %>
          <%= button_to 'Unlock', unlock_repair_path(repair), method: :post, form: { data: { turbo_stream: true } } %>
        <% end %>
      </p>
      <!-- Button to mannualy unlock repair if needed in the future -->
      <%# else %>
      <!--    <p>
      This repair is unlocked.
      <%#= button_to 'Lock for Editing', lock_repair_path(repair), method: :post, form: { data: { turbo_stream: true } } %>-->
      <!--    </p>-->
    <% end %>
    <% if unlocked_by_admin %>
      <p>This repair was unlocked by admin: </p>
    <% end %>
  </div>
</div>