<div id="repair_container" data-repair-id="<%= @repair.id %>">
  <div id="repair_<%= repair.id %>" class="flash-banner alert">
    <% if repair.locked? && !locked_by_current_user %>
      <p>
        This repair is being worked on by <%= repair.locked_by %> since <%= repair.locked_at %>.
      </p>
      <% if current_user.admin? %>
        <%= button_to 'Unlock', unlock_repair_path(repair), method: :post, form: { data: { turbo_stream: true } } %>
      <% end %>
    <% elsif repair.locked? && locked_by_current_user %>
      <%# No message shown if the current user locked it %>
    <% end %>
    <% if unlocked_by_admin %>
      <p>This repair was unlocked by admin: <%= admin_email %></p>
    <% end %>
  </div>
</div>
