<h1>Repair: <%= @repair.order_number %></h1>
<%= form_with model: @repair do |form| %>
  <div class="info-module">
    <h2>Device</h2>
    <%= form.label :brand %>
    <%= form.select :brand, ["Apple", "Samsung", "OnePlus", "Sony"]%>
    <%= form.label :model %>
    <%= form.text_field :model %>
    <%= form.label :imei %>
    <%= form.text_field :imei %>
    <%= form.label :serial %>
    <%= form.text_field :serial %>
    <%= form.label :error_description %>
    <%= form.text_area :error_description %>
  </div>
  <div class="info-module">
    <h2>Customer</h2>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= form.label :email %>
    <%= form.email_field :email %>
    <%= form.label :phone_number, "Phone" %>
    <%= form.telephone_field :phone_number, class: "new-input" %>
  </div>
  <div class="action_module">
    <h2>Actions</h2>
    <% flash.each do |key, message| %>
      <div class="flash <%= key %>"><%= message %></div>
    <% end %>
    <%= form.submit :Save %>
    <button>Close</button>
    <button>Delete</button>
  </div>
<% end %>