<h1>Repair ID: <%= @repair.id %></h1>

<ul>
    <li>Brand: <%= @repair.brand %></li>
    <li>IMEI: <%= @repair.imei %></li>
    <li>Serial: <%= @repair.serial %></li>
    <li>Error Description: <%= @repair.error_description %></li>
</ul>