<% content_for :title, @repair.order_number %>
<%= render partial: "repair_lock", locals: { repair: @repair, unlocked_by_admin: false, locked_by_current_user: @repair_locked_by_current_user } %>
<%= render "repair_information" %>
<%= render "set_status" %>
<%= render "add_repair_items" %>
<div class="flex-container content-center">
  <%= render "status_history" %>
  <%= render "parts" %>
</div>
